__pycache__/*
prostate158_train
.venv
TransformParameters.1.txt
TransformParameters.0.txt
elastix.log
result.0.nii
__pycache__
ParameterFiles/BSpline/.claude/worktrees/xenodochial-chaum/
ParameterFiles/BSpline/.claude/worktrees/practical-spence/
ParameterFiles/BSpline/.claude/worktrees/interesting-carson/
ParameterFiles/BSpline/.claude/worktrees/affectionate-keller/
